<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Vue JS</title>
</head>
<body>
    <div id="app">
        <input type="text" name="" id="">
        <div class="container">
          
            <table class="table-responsive bordered highlight centered hoverable z-depth-2" v-show="persons.length">
              <tbody>
                <tr v-for="(user,index) in users">
                  <td>
                    {{user.name}}
                  </td>
                  <td style="width: 18%;">
                    <a href="#modal" @click="edit(index)" class="btn waves-effect waves-light yellow darken-2"><i class="material-icons">edit</i>
                    </a>
                    <a href="#!" class="btn waves-effect waves-light red darken-2" @click="archive(index)"><i class="material-icons">archive</i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="input-field">
                      <input placeholder="Placeholder" ref="lname" v-model="input.lname" id="lname" type="text">
                      <label for="lname">Last Name</label>
                    </div>
                  </td>
                  <td>
                    <div class="input-field">
                      <input placeholder="Placeholder" v-model="input.fname" id="fname" type="text">
                      <label for="fname">First Name</label>
                    </div>
                  </td>
                  <td>
                    <div class="input-field">
                      <input placeholder="Placeholder" v-model="input.age" id="age" type="text">
                      <label for="age">Age</label>
                    </div>
                  </td>
                  <td>
                    <div class="input-field">
                      <input placeholder="Placeholder" v-model="input.job" id="job" type="text">
                      <label for="job">Job</label>
                    </div>
                  </td>
                  <td>
                    <div class="input-field">
                      <input placeholder="Placeholder" v-model="input.address" id="address" type="text">
                      <label for="address">Address</label>
                    </div>
                  </td>
                  <td><a href="#!" @click="add" class="btn btn-waves green darken-2"><i class="material-icons">add</i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
            
          
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                users: [{
                    name: "Muhammad Iqbal Mubarok"
                }, {
                    name: "Rubi Purwanti"
                }, {
                    name: "Faqih Muhammad"
                }],
                    bin: [],
                    input: {
                    name: "",
                    },
                    editInput: {
                    name: ""
                    }
                },
                methods: {
                    //function to add data to table
                    add: function() {
                    this.persons.push({
                        lname: this.input.lname,
                        fname: this.input.fname,
                        age: this.input.age,
                        job: this.input.job,
                        address: this.input.address
                    });

                    for (var key in this.input) {
                        this.input[key] = '';
                    }
                    this.persons.sort(ordonner);
                    this.$refs.lname.focus();
                    },
                    //function to handle data edition
                    edit: function(index) {
                    this.editInput = this.persons[index];
                    console.log(this.editInput);
                    this.persons.splice(index, 1);
                    },
                    //function to send data to bin
                    archive: function(index) {
                    this.bin.push(this.persons[index]);
                    this.persons.splice(index, 1);
                    this.bin.sort(ordonner);
                    },
                    //function to restore data
                    restore: function(index) {
                    this.persons.push(this.bin[index]);
                    this.bin.splice(index, 1);
                    this.bin.sort(ordonner);
                    },
                    //function to update data
                    update: function(){
                    // this.persons.push(this.editInput);
                    this.persons.push({
                        lname: this.editInput.lname,
                        fname: this.editInput.fname,
                        age: this.editInput.age,
                        job: this.editInput.job,
                        address: this.editInput.address
                    });
                    for (var key in this.editInput) {
                        this.editInput[key] = '';
                    }
                    this.persons.sort(ordonner);
                    },
                    //function to defintely delete data 
                    deplete: function(index) {
                    // console.log(this.bin[index]);
                    this.bin.splice(index, 1);
                    }
                }
            });
    </script>
</body>
</html>